header{
    background-color:#0000ff ;
    margin-bottom: 20px;
    padding: 1em;
}
nav{
    background-color: grey;
    float: left;
    width: 14em;
}
footer{
    background-color: blanchedalmond;
}
figcaption{
    padding-left: 180px;
}
#main{
    margin-left: 15em;
    background-color: burlywood;
}